{% extends 'app/base.html' %}

{% block title %} Інформація про машину {% endblock %}

{% block content %}

{% if car %}
<h2>Інформація про машину</h2>
<table>
  <tr>
    <th>ID машини: {{ car_id }}</th>
  </tr>
  <tr>
      <td>Марка</td>
      <td>{{ car.Марка }}</td>
  </tr>
  <tr>
    <td>Модель</td>
      <td>{{ car.Модель }}</td>
  </tr>
    <tr>
      <td>Рік</td>
      <td>{{ car.Рік }}</td>
  </tr>
    <tr>
      <td>Ціна</td>
      <td>{{ car.Ціна }}$</td>
  </tr>
</table>
{% else %}
    <h2>Помилка! Машину з ID {{car_id}} не знайдено</h2>
{% endif %}
<a href="{% url 'app:show_info' %}"> <= Back to car list</a>

{% endblock %}