{% extends 'app/base.html' %}

{% block title %} Search results {% endblock %}

{% block content %}
    <h1>Пошук авто</h1>

    <form method="GET">
        {{ form.as_table }}
        <button type="submit" class="btn btn-primary">Пошук</button>
    </form>

    <h2>Результати пошуку</h2>

    {% if filtered_cars %}
        <h3>Знайдено авто: {{ filtered_cars|length }} </h3>
        <ol>
            {% for car in filtered_cars %}
                <li>
                    <ul>
                        {% for key, value in car.items %}
                            <li>{{ key|upper }} : {{ value }}</li>
                        {% endfor %}
                    </ul>
                </li>
                <hr>
            {% endfor %}
        </ol>
    {% endif %}
{% endblock %}

{%block style%}
<style>
    h1{
        color:red
    }
</style>
{%endblock%}